@page
@model Student_Database.Pages.Clients.IndexModel
@{
}

<br />
<h2>List of Students</h2>
<a class="btn btn-primary btn-sm" href="/Students/Create">New Student</a>

<form method="get" action="/Students/Index">
    <br />
    <label for="fromDate">Join Date From:</label>
    <input type="date" id="fromDate" name="fromDate" value="@ViewData["FromDate"]" />

    <label for="toDate">To:</label>
    <input type="date" id="toDate" name="toDate" value="@ViewData["ToDate"]" />

    <input type="submit" value="Filter" class="btn btn-primary btn-sm" />
</form>

<br />
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Nationality</th>
            <th>Join Date</th>
            <th>Date of Birth</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var element in Model.listStudents)
        {
            <tr>
                <td>@element.id</td>
                <td>@element.name</td>
                <td>@element.email</td>
                <td>@element.department_id</td>
                <td>@element.nationality</td>
                <td>@element.joining_date.ToString("dd-MM-yyyy")</td>
                <td>@element.date_of_birth.ToString("dd-MM-yyyy")</td>
                <td>@element.created_at</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="/Students/Edit?student_id=@element.id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Students/Delete?student_id=@element.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
