@page
@model Student_Database.Pages.Staff.EditModel

<style>
    .image-preview {
        width: 200px;
        height: 200px;
        border: 1px solid #ddd;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: #999;
    }
</style>

<br />
<h2>Edit Staff</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alertalert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="staff_id" value="@Model.staffInfo.id" />
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Image</label>
        <div class="col-sm-6">
            <div class="image-preview">
                @if (!String.IsNullOrEmpty(Model.staffInfo.ImageBase64))
                {
                    <img src="data:image/png;base64,@Model.staffInfo.ImageBase64" alt="Image Preview" style="max-width: 100%; max-height: 100%;">
                }
                else
                {
                    <span>Image will be displayed here</span>
                }
            </div>
            <input type="file" class="form-control mt-3" name="image" accept="image/*" onchange="displayImage(this)" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="@Model.staffInfo.name" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="email" value="@Model.staffInfo.email" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Department</label>
        <div class="col-sm-6">
            <select class="form-control" name="department">
                <option value="">Select Department</option>
                @foreach (var department in Model.listDepartments)
                {
                    <option value="@department.id" selected="@(department.id.ToString() == Model.staffInfo.department_id)">@department.name</option>
                }
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nationality</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="nationality" value="@Model.staffInfo.nationality" />
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col mb-3">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-outline-primary" href="/Staff/Index" role="button">Cancel</a>
        </div>
    </div>
</form>

<script>
    function displayImage(input) {
        var preview = document.querySelector('.image-preview');
        var file = input.files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
            preview.innerHTML = '<img src="' + e.target.result + '" alt="Image Preview" style="max-width: 100%; max-height: 100%;">';
        };

        if (file) {
            reader.readAsDataURL(file);
        }
    }
</script>
